// GENERALES

$color-principal: #c7b299;
$color-texto: #efefef;
$color-fondo: #121212;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
}
.color-rs{
color: $color-principal!important;   
}

.card {
    border-radius: 0 !important;
    background: none !important;
    transition: .3s ease-in!important;
    -webkit-transition: .3s ease-in!important;
    -o-transition: .3s ease-in!important;

    .card-img {
        overflow: hidden;
        img{
            transition: .3s ease-in!important;
            -webkit-transition: .3s ease-in!important;
            -o-transition: .3s ease-in!important;
        }
    }

    &:hover .card-img img {
            transform: scale(1.2);
            transition: .3s ease-in;
            -webkit-transition: .3s ease-in;
            -o-transition: .3s ease-in;
        }
    
}

.text-color {
    color: $color-texto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-principal;
}

body {
    background: $color-fondo !important;
}

// MENU
.navbar {
    height: auto;
    width: 100%;
    // border-bottom: 1px solid #fff;

    .logo {
        width: 120px;
    }

    .btn-info {
        border: 2px solid $color-principal;
        border-radius: 15px;
        background: none;
        display: flex;
        align-items: center;
        transition: .2s ease-in;

        a {
            margin: 5px 10px;
            text-decoration: none;
            color: $color-texto;

        }

        &:hover {
            background: $color-principal;
            border: 2px solid $color-principal;


            a {
                color: #000;
                transition: .2s ease-in;
            }
        }

    }
}

main {
    #portada {
        width: 100%;
        height: 350px;
        background-image: url(../img/);
        background-color: #c7b299;
    }
}


// FOOTER

.logo-footer{
    width: 50px;
}